@font-face {
    font-family: 'Faxi';
    src: url('Faxi-Regular.woff2') format('woff2'),
        url('Faxi-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

